.warning {
    background-color:#E9D8FD;

    color: #69337A;
    
    border-left: solid #805AD5 4px;
    border-radius: 4px; padding:0.7em;
}


.warning * { border: 0; }

.warning .title { margin-top:1em; text-align:center }

.warning h1 { 
    margin-top:1em;

    font-size: 10pt;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.5pt;
}

.warning p { margin: 0 1em; text-align: justify; text-indent: 1.5em; font-style: italic; }