body { font-size: 16px; }

h1 {
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
}

ul { background-color: rgb(13, 15, 9); }
ul li { list-style: none; }

.change-color { background-color: purple; }

p { 
    font-size: 3em;
    font-weight: 600;
    font-style: oblique;
    line-height: 14pt;
    text-align: justify;
    text-decoration: underline; 
}
